.about-content {
  display: flex;
  padding-block: 100px;
  padding-inline: 80px;
  width: 100%;
}
.about-images {
  width: 50%;
}
.about-images img {
  width: 500px;
}
.about-texts {
  margin-top: 70px;

  font-family: arial, helvetica, sans-serif;
  width: 50%;
}

.about-texts-card-wrapper {
  display: flex;
}
.about-text-card {
  color: white;
  background-color: rgba(214, 26, 26, 0.808);
  padding: 60px;
  border-radius: 10px 0px 10px 10px;
  height: 250px;
  width: 200px;
}
.about-text-list {
  margin-top: 40px;
}
.expert-main {
  display: flex;
  height: 120vh;
  color: rgb(40, 40, 80);
}
.expert-img img {
  height: 100vh;
  width: 100%;
}
.expert-text {
  background-color: rgba(165, 178, 182, 0.521);
  padding: 100px;
}
.expert-content-cards {
  display: flex;
}
.expert-content-card1 {
  height: 280px;
  width: 270px;
  padding-inline: 20px;
  padding-block: 30px;
  border-radius: 10px;
  margin-top: 30px;
}
.view-details-about {
  border: none;
  background-color: rgba(165, 178, 182, 0.521);
}
.view-details-about:hover {
  border: none;
  background-color: rgba(165, 178, 182, 0.521);
  color: rgb(214, 24, 24);
}
@media only screen and (max-width: 688px) {
  .about-content {
    display: flex;
    flex-direction: column;
    padding-block: 100px;
    padding-inline: 20px;
    width: 100%;
  }
  .about-images {
    margin-left: 0px;
    width: 100%;
  }
  .about-images img {
    width: 100%;
  }
  .about-texts {
    width: 100%;
    margin-top: 70px;
    margin-left: 0px;
    padding-right: 0px;
    font-family: arial, helvetica, sans-serif;
    padding-inline: 10px;
  }
  .expert-main {
    display: flex;
    flex-direction: column;
    height: 120vh;
    color: rgb(40, 40, 80);
  }
}
